:root {
  --bg: white;
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0d1117;
    --text: #e6edf3;
  }
}

html {
    height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  height: 100%;
}

.nav-clickable {
  color: aqua;
}
.nav-clickable:hover {
  cursor: pointer;
  color: blue;
}

.nav-current {
  font-style: bold;
}

/* overload-bulma */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table.is-hoverable tbody td:hover {
  cursor: pointer;
}